nav {
  height: 30px;
  font-size: 16pt;
}

nav li a {
  font-size: 20pt;
  text-decoration: none;
  margin: 0 8px;
  color: white;
}

nav li a:hover {
  color: indigo;
}

.main_menu li {
  display: inline;
}

#services {
  background-color: #f0fff5;
}

#services .container {
  padding: 40px 20px 20px 20px;
}

#services .container .p1-container {
  text-align: center;
}

#services .container .p1-container p,
#services .container .p1-container h2 {
  width: 40%;
  margin: auto;
  clear: both;
}

#services .container .p1-container p {
  font-size: 15pt;
  font-weight: 100;
  color: #818181;
}

#services .container .p1-container h2 {
  margin-bottom: 30px;
  font-size: 30pt;
  padding: 10px;
}

#services .container .columns_container .a_column {
  text-decoration: none;
}

#services .container .columns_container .a_column:hover {
  text-decoration: none;
}

#services .container .columns_container .a_column .column {
  box-shadow: 0 0 2px 1px rgba(1, 1, 1, 0.1);
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}

#services .container .columns_container .a_column .column .services_pic img {
  height: 200px;
}

#services .container .columns_container .a_column .column:nth-child(1):hover {
  box-shadow: 0 5px 8px 2px rgba(1, 1, 1, 0.2);
  background-color: rgba(120, 121, 219, 0.15);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.pictures {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 12pt;
  background-color: rgba(100, 100, 100, 0.6);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.pictures:hover {
  background-color: #010101;
  color: white;
  text-decoration: none;
  font-size: 14pt;
}

#contact_us {
  background-image: url(/images/blue_splashes-wallpaper-1920x1080.jpg?d3f23a2ad5b1a25c86498befc444942d);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  color: black;
  font-weight: bold;
  line-height: 30px;
  min-height: 640px;
}

input[type=text],
input[type=email],
textarea {
  width: 80%;
  height: 30px;
  text-decoration: none;
  padding: 5px;
  border: solid 1px lightblue;
  border-radius: 10px;
  margin-bottom: 10px;
}

input[type=submit] {
  width: 30%;
  height: 40px;
  background-color: rosybrown;
  border-radius: 10px;
}

.container,
.container-fluid {
  padding: 40px 0 0 0;
  direction: rtl;
}

.container #form_side,
.container #info_side,
.container-fluid #form_side,
.container-fluid #info_side {
  width: 50%;
  direction: rtl;
  display: block;
  margin-top: 20px;
}

#steaky_nav {
  background-color: #0a0a0a;
  position: fixed;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  z-index: 9999;
  display: -webkit-box;
  display: flex;
  direction: rtl;
}

#steaky_nav a {
  text-decoration: none;
  color: white;
  margin: auto;
}

#steaky_nav a {
  font-size: 16pt;
}

#steaky_nav a:hover {
  color: #8fcec8;
}

@media screen and (max-width: 1600px) and (min-width: 1220px) {
  #header {
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 100%;
    background-attachment: fixed, fixed;
    background-position: 0 0, 0 0;
    -moz-background-size: 100% 100%, 100% 100%;
    height: 670px;
    width: 100%;
    padding-top: 20px;
    -webkit-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
  }

  .main_menu {
    margin-left: 30%;
    width: 60%;
    direction: rtl;
  }

  .columns_container {
    width: 100%;
    padding: 30px 0;
    margin-top: 40px;
  }

  .column {
    padding: 5%;
    text-align: center;
  }

  .column div {
    width: 200px;
    margin: auto;
  }

  .column div img {
    width: 100%;
  }

  .column .services_description {
    line-height: 30px;
    font-size: 13pt;
    color: gray;
    width: 80%;
    margin: auto;
    text-align: center;
    max-height: 100px;
    overflow: hidden;
  }

  #location {
    width: 100%;
    height: 320px;
    background-color: white;
  }

  #portfolio ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
            align-items: stretch;
  }

  #portfolio ul li {
    display: block;
    background-size: cover;
    height: 400px;
    -webkit-box-flex: 2;
            flex: 2;
    -webkit-transition: -webkit-box-flex 1.5s ease;
    transition: -webkit-box-flex 1.5s ease;
    transition: flex 1.5s ease;
    transition: flex 1.5s ease, -webkit-box-flex 1.5s ease;
  }

  #portfolio ul:hover li {
    -webkit-box-flex: 1;
            flex: 1;
    -webkit-transition: -webkit-box-flex 1.4s ease;
    transition: -webkit-box-flex 1.4s ease;
    transition: flex 1.4s ease;
    transition: flex 1.4s ease, -webkit-box-flex 1.4s ease;
  }

  #portfolio ul li:hover {
    -webkit-box-flex: 4;
            flex: 4;
    z-index: 99;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }

  footer {
    clear: both;
    min-height: 320px;
    background-color: darkslategray;
  }
}

@media screen and (max-width: 1280px) and (min-width: 840px) {
  #header {
    background-image: url(/images/green_band-wallpaper-1920x1080.jpg?4d5b6389aa37f9af5a760ce74cbf0344);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 570px;
    width: 100%;
    padding-top: 20px;
  }

  .main_menu {
    margin-left: 50%;
    width: 50%;
    direction: rtl;
  }

  .columns_container {
    width: 100%;
    padding: 30px 0;
    margin-top: 40px;
  }

  .column {
    padding: 5%;
    text-align: center;
  }

  .column div {
    width: 200px;
    margin: auto;
  }

  .column div img {
    width: 100%;
  }

  .column .services_description {
    line-height: 30px;
    font-size: 13pt;
    color: gray;
    width: 80%;
    margin: auto;
    text-align: center;
    max-height: 100px;
    overflow: hidden;
  }

  #location {
    width: 100%;
    height: 270px;
    background-color: white;
  }

  #portfolio ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }

  #portfolio ul li {
    display: block;
    background-size: cover;
    height: 360px;
    width: 50%;
  }

  footer {
    clear: both;
    min-height: 270px;
    background-color: darkslategray;
  }
}

