#card {
  border-radius: 20px;
  box-shadow: 0 0 2px 3px rgba(1, 1, 1, 0.1);
  margin: 10px;
  padding: 60px 5px 30px 5px;
}

#close_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

#close_icon:hover {
  box-shadow: 0 0 2px 2px rgba(10, 10, 10, 0.2);
}

#home_icon {
  position: absolute;
  top: 20px;
  right: 80px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

#home_icon:hover {
  box-shadow: 0 0 2px 2px rgba(10, 10, 10, 0.2);
}

