@font-face {
  font-family: "yekan";
  src: url(/fonts/yekan.ttf?1008c3b88ceb6f09efbf88dafa3e9d91), url(/fonts/yekan.woff?05727d32400b2008acbf7fc49251ede0), url(/fonts/yekan.svg?6a9f06e37d89dfaf21c2ca76d4dbd533), url(/fonts/yekan.eot?1ce443bdb97d708d21442761cc7c441d);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: yekan, serif;
  overflow-x: hidden;
}

section {
  z-index: 999;
}

button {
  font-family: yekan, serif;
}

#scroll-top {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 50px;
  bottom: 50px;
  display: none;
  background-image: url(/images/top.png?0662cb4ab05764660b5a49b5d9afd470);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 9999;
}

.loader {
  width: 7em;
  height: 7em;
  font-size: 16px;
  box-sizing: border-box;
  border-top: 0.3em solid hotpink;
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  -webkit-animation: rotating 2s ease-in-out infinite;
          animation: rotating 2s ease-in-out infinite;
  --direction: 1;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}

.loader::before {
  border-top: 0.3em solid dodgerblue;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.loader::after {
  border-top: 0.3em solid gold;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.loader span {
  position: absolute;
  color: black;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 7em;
  font-family: sans-serif;
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
  --direction: -1;
}

@-webkit-keyframes rotating {
  50% {
    -webkit-transform: rotate(calc(180deg * var(--direction)));
            transform: rotate(calc(180deg * var(--direction)));
  }

  100% {
    -webkit-transform: rotate(calc(360deg * var(--direction)));
            transform: rotate(calc(360deg * var(--direction)));
  }
}

@keyframes rotating {
  50% {
    -webkit-transform: rotate(calc(180deg * var(--direction)));
            transform: rotate(calc(180deg * var(--direction)));
  }

  100% {
    -webkit-transform: rotate(calc(360deg * var(--direction)));
            transform: rotate(calc(360deg * var(--direction)));
  }
}

